cffi==1.14.5
click==7.1.2
cryptography==3.3.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
nassl==4.0.0
pycparser==2.20
six==1.15.0
sslyze==4.0.4
tls-parser==1.2.2
Werkzeug==1.0.1
